<%= form_with(model: klass_tempelate_form) do |form| %>
  <% if klass_tempelate_form.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(klass_tempelate_form.errors.count, "error") %> prohibited this klass_tempelate_form from being saved:</h2>

      <ul>
        <% klass_tempelate_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :klass_tempelate_id, style: "display: block" %>
    <%= form.text_field :klass_tempelate_id %>
  </div>

  <div>
    <%= form.label :form_id, style: "display: block" %>
    <%= form.text_field :form_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
