<p style="color: green"><%= notice %></p>

<%= render @klass_tempelate_form %>

<div>
  <%= link_to "Edit this klass tempelate form", edit_klass_tempelate_form_path(@klass_tempelate_form) %> |
  <%= link_to "Back to klass tempelate forms", klass_tempelate_forms_path %>

  <%= button_to "Destroy this klass tempelate form", @klass_tempelate_form, method: :delete %>
</div>
