<div class="modal-header px-card bg-light border-bottom-0">
  <h5 class="modal-title"><%= title %></h5>
  <button class="btn-close me-n1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<%= form_for(trajectory_detail, id: 'addTrajectoryModal') do |f| %>
  <div class="modal-body p-card">
    <div class="row">
      <div class="col-lg-6">
        <% unless params[:action] == 'edit' %>
          <div class="mb-3">
            <%= f.label :book_id, class: 'fs-0' %>
            <%= f.collection_select :book_id, current_account.books, :id, :name, { include_blank: true }, { class: 'form-control' } %>
          </div>
        <% end %>
        <div class="mb-3">
          <%= f.label :season , class: 'fs-0' %>
          <%= f.select :season, TrajectoryDetail.seasons.map { |key, value| [key.humanize, key] }, {include_blank: true}, {class: 'form-select form-select-md'} %>
        </div>
        <div class="mb-3">
          <%= f.label :wpm,"Words per minutes (Wpm)", class: 'fs-0' %>
          <%= f.number_field :wpm, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :entry_date, class: 'fs-0' %>
          <%= f.date_field :entry_date, class: 'form-control' %>
        </div>
      </div>
      <div class="col-lg-6">
        <% unless params[:action] == 'edit' %>
          <div class="mb-3">
            <%= f.label :student_id, class: 'fs-0' %>
            <%= f.collection_select :student_id, current_account.students.where(status: [:active, :wait_listed]), :id, :name, { include_blank: true }, { class: 'form-select js-choice', data:{ options: { searchEnabled: true }} } %>
          </div>
        <% end %>
        <div class="mb-3">
          <%= f.label :grade, class: 'fs-0' %>
          <%= f.select :grade, TrajectoryDetail.grades.map { |key, value| [key.to_i + 1, key] }, {include_blank: true}, {class: 'form-select form-select-md'} %>
        </div>
        <div class="mb-3">
          <%= f.label :error_count, class: 'fs-0' %>
          <%= f.number_field :error_count, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end align-items-center bg-light">
    <%= f.submit 'Save', class: 'btn btn-primary px-4' %>
    <%= f.button 'Cancel', class: 'btn btn-default px-4', type: 'button', data: { 'bs-dismiss': 'modal'} %>
  </div>
<% end %>

