<div class="modal-content border-0">
  <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1">
    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body p-0">
    <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
      <h4 class="mb-1" id="staticBackdropLabel"><%= meeting.short_name %></h4>
      <p class="fs--2 mb-0">Teaching by <%= link_to meeting.teacher.name, staff_path(meeting.teacher), class: "link-600 fw-semi-bold" %></p>
    </div>
    <div class="p-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex">
            <span class="fa-stack ms-n1 me-3">
              <i class="fas fa-circle fa-stack-2x text-200"></i>
              <i class="fa-inverse fa-stack-1x text-primary fas fa-users" data-fa-transform="shrink-2"></i>
            </span>
            <div class="flex-1">
              <h5 class="mb-2 fs-0">Students</h5>
              <ul class="nav flex-lg-column fs--1">
                <% meeting.students.each do |student| %>
                  <li class="nav-item me-2 me-lg-0">
                    <a class="nav-link nav-link-card-details" href="#!">
                      <span class="fas fa-user me-2"></span><%= student.name %>
                    </a>
                  </li>
                <% end %>
                <% unless meeting.students.present? %>
                  <p class="text-word-break fs--1">No student in class.<p>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h6 class="mt-5 mt-lg-0">Daily Workables</h6>
          <%= form_tag(forms_path, id: 'showAssessmentForm', method: :get, remote: true) do |f| %>
            <div class="p-2 mb-3">
              <div class="row">
                <div class="col-lg-8">
                  <%= select_tag(:form_id, options_from_collection_for_select(Form.all.order("name ASC"), :id, :name), include_blank: 'Please select form', class: 'form-control', required: true) %>
                </div>
                <div class="col-lg-4">
                  <%= submit_tag "Open Form", class: "btn btn-info" %>
                </div>
              </div>
            </div>
          <% end %>
          <% if meeting.attendance_form.present? %>
            <div class="d-grid gap-2">
              <%= link_to('Attendance', form_path(meeting.attendance_form), remote: true, class: 'btn btn-primary') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end align-items-center bg-light">
    <%= link_to('Edit Class', edit_klass_path(meeting.klass), remote: true, class: 'btn btn-info px-4') %>
    <button class="btn btn-default px-4" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
  </div>
</div>

<script>
  $("#showAssessmentForm").submit(function(e){
    var form = $(this);
    form.attr('action', `/forms/${form.find('select').val()}`)
  });
</script>
