<div id="<%= dom_id meeting %>">
  <p>
    <strong>Start:</strong>
    <%= meeting.start %>
  </p>

  <p>
    <strong>Cancel:</strong>
    <%= meeting.cancel %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= meeting.deleted_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= meeting.active %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= meeting.account_id %>
  </p>

  <p>
    <strong>Klass:</strong>
    <%= meeting.klass_id %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= meeting.form_id %>
  </p>

</div>
