<div id="<%= dom_id vacation %>">
  <p>
    <strong>Day:</strong>
    <%= vacation.day %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vacation.name %>
  </p>

  <p>
    <strong>Strating at:</strong>
    <%= vacation.strating_at %>
  </p>

  <p>
    <strong>Ending at:</strong>
    <%= vacation.ending_at %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= vacation.deleted_at %>
  </p>

  <p>
    <strong>Vacation type:</strong>
    <%= vacation.vacation_type %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= vacation.active %>
  </p>

  <p>
    <strong>Boolean:</strong>
    <%= vacation.boolean %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= vacation.account_id %>
  </p>

  <p>
    <strong>References:</strong>
    <%= vacation.references %>
  </p>

</div>
