<%= form_with(model: trajectory_detail) do |form| %>
  <% if trajectory_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trajectory_detail.errors.count, "error") %> prohibited this trajectory_detail from being saved:</h2>

      <ul>
        <% trajectory_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :error_count, style: "display: block" %>
    <%= form.number_field :error_count %>
  </div>

  <div>
    <%= form.label :wpm, style: "display: block" %>
    <%= form.number_field :wpm %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <%= form.text_field :grade %>
  </div>

  <div>
    <%= form.label :season, style: "display: block" %>
    <%= form.text_field :season %>
  </div>

  <div>
    <%= form.label :entry_date, style: "display: block" %>
    <%= form.datetime_field :entry_date %>
  </div>

  <div>
    <%= form.label :account_id, style: "display: block" %>
    <%= form.text_field :account_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :klass_id, style: "display: block" %>
    <%= form.text_field :klass_id %>
  </div>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
