<div id="<%= dom_id trajectory_detail %>">
  <p>
    <strong>Error count:</strong>
    <%= trajectory_detail.error_count %>
  </p>

  <p>
    <strong>Wpm:</strong>
    <%= trajectory_detail.wpm %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= trajectory_detail.active %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= trajectory_detail.deleted_at %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= trajectory_detail.grade %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= trajectory_detail.season %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= trajectory_detail.entry_date %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= trajectory_detail.account_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trajectory_detail.user_id %>
  </p>

  <p>
    <strong>Klass:</strong>
    <%= trajectory_detail.klass_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= trajectory_detail.book_id %>
  </p>

</div>
