<p style="color: green"><%= notice %></p>

<%= render @trajectory_detail %>

<div>
  <%= link_to "Edit this trajectory detail", edit_trajectory_detail_path(@trajectory_detail) %> |
  <%= link_to "Back to trajectory details", trajectory_details_path %>

  <%= button_to "Destroy this trajectory detail", @trajectory_detail, method: :delete %>
</div>
