<div id="<%= dom_id interview %>">
  <p>
    <strong>Date:</strong>
    <%= interview.date %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= interview.feedback %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= interview.status %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= interview.deleted_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= interview.active %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= interview.account_id %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= interview.form_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= interview.student_id %>
  </p>

</div>
