<% content_for :search_includes do %>
  <%= render partial: 'shared/search', locals: { search_key: :first_name_cont, form_url: interviews_path } %>
<% end %>

<div class="card mb-3" data-list='{"valueNames":["name","strating date","ending date","vacation type","action"],"page":15}'>
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
          <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Interviews</h5>
      </div>
      <div class="col-8 col-sm-auto text-end ps-2">
        <div class="d-none" id="table-interviews-actions">
          <div class="d-flex">
            <select class="form-select form-select-sm" aria-label="Bulk actions">
              <option selected="">Bulk actions</option>
              <option value="Delete">Delete</option>
            </select>
            <button class="btn btn-falcon-default btn-sm ms-2" id="listing-bulk-action" type="button">Apply</button>
          </div>
        </div>
        <div id="table-interviews-replace-element">
          <%= link_to(new_interview_path, remote: true, class: 'btn btn-falcon-default btn-sm') do %>
          <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
          <span class="d-none d-sm-inline-block ms-1">New</span>
          <% end %>
          <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span></button>
          <%= link_to(export_interviews_path(format: :csv), class: 'btn btn-falcon-default btn-sm') do %>
           <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
           <span class="d-none d-sm-inline-block ms-1">Export</span>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <div class="card-body p-0" id="interviewsTable">
    <%= render partial: 'interviews/table', locals: { interviews: @interview_students } %>
  </div>
</div>

<% content_for :modal_includes do %>
<%= render partial: 'shared/modals/basic', locals: { modal_id: 'addInterviewModal' } %>
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "controllers/#{params[:controller]}/#{params[:action]}", defer: true %>
<% end %>
