<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first, style: "display: block" %>
    <%= form.text_field :first %>
  </div>

  <div>
    <%= form.label :last, style: "display: block" %>
    <%= form.text_field :last %>
  </div>

  <div>
    <%= form.label :dob, style: "display: block" %>
    <%= form.date_field :dob %>
  </div>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <%= form.text_field :grade %>
  </div>

  <div>
    <%= form.label :school, style: "display: block" %>
    <%= form.text_field :school %>
  </div>

  <div>
    <%= form.label :sex, style: "display: block" %>
    <%= form.text_field :sex %>
  </div>

  <div>
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.label :settings, style: "display: block" %>
    <%= form.text_field :settings %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.text_field :deleted_at %>
  </div>

  <div>
    <%= form.label :datetime, style: "display: block" %>
    <%= form.text_field :datetime %>
  </div>

  <div>
    <%= form.label :dates, style: "display: block" %>
    <%= form.text_field :dates %>
  </div>

  <div>
    <%= form.label :programs, style: "display: block" %>
    <%= form.text_field :programs %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :prepaid_sessions, style: "display: block" %>
    <%= form.number_field :prepaid_sessions %>
  </div>

  <div>
    <%= form.label :credit_session, style: "display: block" %>
    <%= form.number_field :credit_session %>
  </div>

  <div>
    <%= form.label :registration_date, style: "display: block" %>
    <%= form.datetime_field :registration_date %>
  </div>

  <div>
    <%= form.label :account_id, style: "display: block" %>
    <%= form.text_field :account_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
