<div id="<%= dom_id student %>">
  <p>
    <strong>First:</strong>
    <%= student.first %>
  </p>

  <p>
    <strong>Last:</strong>
    <%= student.last %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= student.dob %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student.grade %>
  </p>

  <p>
    <strong>School:</strong>
    <%= student.school %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= student.sex %>
  </p>

  <p>
    <strong>String:</strong>
    <%= student.string %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= student.active %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= student.settings %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= student.deleted_at %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= student.datetime %>
  </p>

  <p>
    <strong>Dates:</strong>
    <%= student.dates %>
  </p>

  <p>
    <strong>Programs:</strong>
    <%= student.programs %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= student.status %>
  </p>

  <p>
    <strong>Prepaid sessions:</strong>
    <%= student.prepaid_sessions %>
  </p>

  <p>
    <strong>Credit session:</strong>
    <%= student.credit_session %>
  </p>

  <p>
    <strong>Registration date:</strong>
    <%= student.registration_date %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= student.account_id %>
  </p>

</div>
