<div class="modal-header px-card bg-light border-bottom-0">
  <h5 class="modal-title"><%= title %></h5>
  <button class="btn-close me-n1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body p-card">
  <div class="row g-3 mb-3">
    <div class="col-xxl-5 col-xl-12">
      <div class="row g-3">
        <div class="col-12">
          <div class="card bg-transparent-50 overflow-hidden">
            <div class="card-body p-0">
              <ul class="mb-0 list-unstyled">
                <% student.interviews.each do |iv| %>
                  <li class="alert mb-0 rounded-0 py-3 px-card alert-<%= (iv.id == student.latest_interview.id)? 'primary' : 'info' %> border-top border-x-0 border-top-0">
                    <div class="row flex-between-center">
                      <div class="col">
                        <div class="d-flex">
                          <div class="fas fa-circle mt-1 fs--2"></div>
                          <p class="fs--1 ps-2 mb-0"><strong><%= l iv.date, format: :medium %></strong></p>
                        </div>
                      </div>
                      <div class="col-auto d-flex align-items-center">
                        <%= iv.status.capitalize %>
                        <% if iv.recent_submission.present? %>
                          <%= link_to form_details_interview_path(iv), remote: true, class: 'alert-link fs--1 fw-medium' do %>
                            <i class="fas fa-chevron-right ms-1 fs--2"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-7 col-xl-12">
      <div id="form_details_table">

      </div>
    </div>
  </div>
</div>
