<script>
  var isFluid = JSON.parse(localStorage.getItem('isFluid'));
  if (isFluid) {
    var container = document.querySelector('[data-layout]');
    container.classList.remove('container');
    container.classList.add('container-fluid');
  }
</script>
<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
  <script>
    var navbarStyle = localStorage.getItem("navbarStyle");
    if (navbarStyle && navbarStyle !== 'transparent') {
      document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
    }
  </script>
  <div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper">
      <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    </div>
    <a class="navbar-brand" href="/">
      <div class="d-flex align-items-center py-3">
        <%= image_tag('icons/spot-illustrations/falcon.png', class: 'me-2', width: 40) %>
        <span class="font-sans-serif">falcon</span>
      </div>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content scrollbar">
      <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
        <li class="nav-item">
          <!-- parent pages--><a class="nav-link dropdown-indicator" href="#dashboard" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="dashboard">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text ps-1">Dashboard</span>
            </div>
          </a>
          <ul class="nav collapse show" id="dashboard">
            <li class="nav-item"><a class="nav-link active" href="index.html" aria-expanded="false">
                <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Default</span>
                </div>
              </a>
              <!-- more inner pages-->
            </li>
          </ul>
        </li>
        <% @menu_list.each do |key, list| %>
          <li class="nav-item">
            <!-- label-->
            <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
              <div class="col-auto navbar-vertical-label"><%= key %>
              </div>
              <div class="col ps-0">
                <hr class="mb-0 navbar-vertical-divider" />
              </div>
            </div>
            
            
            <% list.each_with_index do |second_list, sindex| %>
              <% unless second_list[:sub_items].present? %>
                <a class="nav-link" href="<%= second_list[:url] %>" role="button" aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <span class="nav-link-icon">
                      <span class="<%= second_list[:icon] %>"></span>
                    </span>
                    <span class="nav-link-text ps-1"><%= second_list[:text] %></span>
                  </div>
                </a>
              <% else %>
                <a class="nav-link dropdown-indicator" href="<%= "##{key}_#{sindex}" %>" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="multi-level">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="<%= second_list[:icon] %>"></span></span><span class="nav-link-text ps-1"><%= second_list[:text] %></span>
                  </div>
                </a>
                <ul class="nav collapse false" id="<%= "#{key}_#{sindex}" %>">
                  <% second_list[:sub_items].each_with_index do |third_list, tindex| %>
                    <% unless third_list[:sub_items].present? %>
                      <li class="nav-item">
                        <a class="nav-link" href="<%= third_list[:url] %>" role="button" aria-expanded="false">
                          <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                              <span class="<%= third_list[:icon] %>"></span>
                            </span>
                            <span class="nav-link-text ps-1"><%= third_list[:text] %></span>
                          </div>
                        </a>
                      </li>
                    <% else %>
                      <li class="nav-item">
                        <a class="nav-link dropdown-indicator" href="<%= "##{key}_#{sindex}_#{tindex}" %> data-bs-toggle="collapse" aria-expanded="false" aria-controls="multi-level">
                          <div class="d-flex align-items-center"><span class="nav-link-text ps-1"><%= third_list[:text] %></span>
                          </div>
                        </a>
                        <ul class="nav collapse false" id="<%= "#{key}_#{sindex}_#{tindex}"%> ">
                          <% third_list[:sub_items].each_with_index do |forth_list, findex| %>
                            <li class="nav-item"><a class="nav-link" href="<%= third_list[:url] %>" aria-expanded="false">
                                <div class="d-flex align-items-center"><span class="nav-link-text ps-1"><%= third_list[:text] %></span>
                                </div>
                              </a>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>