<div class="modal-content border-0">
  <div class="card mb-3 overflow-hidden">
    <div class="card-header">
      <h5 class="mb-0">Change Password</h5>
    </div>
    <div class="card-body bg-light">
      <%= form_for(user, url: registration_path(user), html: { method: :put }) do |f| %>
        <div class="mb-3">
          <%= f.label :new_password, class:"form-label" %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-primary" type="submit">Update </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
