<div class="card mb-3">
  <div class="card-header position-relative min-vh-25 mb-7">
    <div class="bg-holder rounded-3 rounded-bottom-0 profile-background">
    </div>
    <div class="avatar avatar-5xl avatar-profile profile-picture-container">
      <%= form_for(current_user, as: :staff, url: staff_path(current_user), html: { id: 'profilePicForm' }) do |f| %>
        <%= f.label :profile, class: 'profile-label' do %>
          <% if current_user.profile.attached? %>
            <%= image_tag(current_user.profile, class: 'rounded-circle img-thumbnail shadow-sm', width: 200) %>
          <% else %>
            <%= image_tag('team/2.jpg', class: 'rounded-circle img-thumbnail shadow-sm', width: 200) %>
          <% end %>
          <%= f.file_field :profile, class: 'form-control' %>
          <div>
            <i class="fas fa-pencil-alt"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <h4 class="mb-1">
          <%= current_user.name %>
          <span data-bs-toggle="tooltip" data-bs-placement="right" title="Verified">
            <small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small>
          </span>
        </h4>
        <h5 class="fs-0 fw-normal"></h5>
        <p class="text-500"><%= current_user.role.humanize.capitalize %></p>
        <div class="border-dashed-bottom my-4 d-lg-none"></div>
      </div>
      <div class="col ps-2 ps-lg-3">
        <h5 class="fs-0 fw-normal">Email</h5>
        <p class="text-500"><%= current_user.email %></p>
      </div>
      <div class="col ps-2 ps-lg-3">
        <h5 class="fs-0 fw-normal">Phone</h5>
        <p class="text-500"><%= current_user.phone %></p>
      </div>
    </div>
  </div>
</div>
<div class="row g-0">
  <div class="col-lg-8 pe-lg-2">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">Update Profile</h5>
      </div>
      <div class="card-body bg-light">
        <%= form_for(current_user, as: :staff, url: staff_path(current_user), html: { id: 'profileForm', class: 'row g-3' }) do |f| %>
          <div class="col-lg-6">
            <%= f.label :first_name, class: 'form-label' %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
          <div class="col-lg-6">
            <%= f.label :last_name, class: 'form-label' %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
          <div class="col-lg-6">
            <%= f.label :email, class: 'form-label' %><br />
            <%= f.email_field :email,class: 'form-control', autofocus: true, autocomplete: "email" %>
          </div>
          <div class="col-lg-6">
            <%= f.label :phone, class: 'form-label' %>
            <%= f.number_field :phone, class: 'form-control' %>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Update </button>
          </div>
        <% end %>
      </div>
    </div>
    <% if current_user.admin? %>
      <div class="card mb-3 mb-lg-0">
        <div class="card-header">
          <h5 class="mb-0">Account Settings</h5>
        </div>
        <div class="card-body bg-light">
          <%= form_for(current_account, html: { id: 'profileAccountForm', class: 'row g-3' }) do |f| %>
          <div class="col-lg-12">
            <%= f.label :name, class: 'form-label' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="col-lg-12">
            <%= f.label :currency , class: 'form-label' %><br>
            <div class="form-check form-check-inline">
              <%= f.radio_button :currency, 'PKR', checked: f.object.currency == 'PKR', class: 'form-check-input' %>
              <%= f.label :PKR , class: 'form-check-label' %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :currency, 'USD', checked: f.object.currency == 'USD', class: 'form-check-input' %>
              <%= f.label :usd , class: 'form-check-label' %>
            </div>
            <div class="form-check form-check-inline">
                <%= f.radio_button :currency, 'EUR', checked: f.object.currency == 'EUR', class: 'form-check-input' %>
              <%= f.label :eur , class: 'form-check-label' %>
            </div>
          </div>
          <div class="col-lg-12">
            <%= f.label :billing_scheme, class: 'form-label' %>
            <%= f.select :billing_scheme, Account.billing_schemes.map { |key, value| [key.humanize, key] }, {include_blank: true}, {class: 'form-select form-select-md js-choice'} %>
          </div>
          <div class="col-lg-6">
            <%= f.label :address, class: 'form-label' %>
            <%= f.text_field :address, class: 'form-control' %>
          </div>
          <div class="col-lg-6">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
          </div>
          <div class="col-lg-6">
            <%= f.label :mobile, class: 'fs-0' %>
            <%= f.number_field :mobile, class: 'form-control' %>
          </div>
          <div class="col-lg-6">
            <%= f.label :province, class: 'form-label' %>
            <%= f.text_field :province, class: 'form-control' %>
          </div>
          <div class="col-lg-6">
            <%= f.label :postal_code , class: 'form-label' %>
            <%= f.number_field :postal_code, class: 'form-control' %>
          </div>
          <div class="col-lg-6">
            <%= f.label :timezone , class: 'form-label' %>
            <%= f.time_zone_select :timezone, nil, {}, {class:'form-select'} %>
          </div>
          <div class="col-lg-6">
            <%= f.label :send_emails , class: 'form-label' %><br />
            <%= f.select :notify_emails, options_for_select(['Please select', ["Yes", "true"], ["No","false"]], f.object.notify_emails),  {}, { class: "form-select" } %>
          </div>

          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Update</button>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4 ps-lg-2">
    <div class="sticky-sidebar">
      <div class="card mb-3 overflow-hidden">
        <div class="card-header">
          <h5 class="mb-0">Change Password</h5>
        </div>
        <div class="card-body bg-light">
          <%= form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
            <div class="mb-3">
              <%= f.label :current_password, class:"form-label" %><br />
              <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control"%>
            </div>
            <div class="mb-3">
              <%= f.label :new_password, class:"form-label" %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
              <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <div class="mb-3">
              <%= f.label :password_confirmation, class: "form-label" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="col-12 d-flex justify-content-end">
              <button class="btn btn-primary" type="submit">Update </button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Danger Zone</h5>
        </div>
        <div class="card-body bg-light">
          <h5 class="fs-0">Delete this account</h5>
          <p class="fs--1">Once you delete a account, there is no going back. Please be certain.</p>
          <a class="btn btn-falcon-danger d-block" href="#!">Deactivate Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    $('#staff_profile').change(function() {
      $('#profilePicForm').submit()
    })
  })
</script>