<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= book.active %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= book.deleted_at %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= book.grade %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= book.account_id %>
  </p>

  <p>
    <strong>Klass:</strong>
    <%= book.klass_id %>
  </p>

</div>
