<% fields = form.form_fields %>

<div class="modal-content border-0">
  <%= form_tag(form_url, method: form_method, remote: form_request_js, id: 'studentsForm') do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :form_id, form.id %>
    <%= hidden_field_tag :record_id, record.id %>
    <%= hidden_field_tag :record_type, record_type %>

    <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1">
      <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-0">
      <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
        <h4 class="mb-1" id="staticBackdropLabel"><%= form.name %></h4>
        <% if record_type == 'Interview' %>
          <p class="fs--2 mb-0">Interview of <%= link_to students.first.name, student_path(students.first), class: "link-600 fw-semi-bold" %></p>
        <% elsif record_type == 'Meeting' %>
          <p class="fs--2 mb-0">Teaching by <%= link_to record.teacher.name, staff_path(record.teacher), class: "link-600 fw-semi-bold" %></p>
        <% end %>
      </div>
      <div class="p-4" data-list='{ "valueNames":["name","email","age"], "page":5, "pagination":false }'>
        <div class="table-responsive scrollbar">
          <table class="table table-bordered table-striped fs--1 mb-0">
            <thead class="bg-200 text-900">
              <tr>
                <th class="sort"></th>
                <% students.each do |student| %>
                  <th class="sort"><%= student.name %></th>
                <% end %>
              </tr>
            </thead>
            <tbody class="list">
              <% if form.attendancable? %>
                <tr>
                  <td title="Is student Present? today.">Present?</td>
                  <% students.each do |student| %>
                    <td><%= generate_html_for(FormField.attendance_field, student, submit_resource) %></td>
                  <% end %>
                </tr>
              <% end %>
              <% fields.each do |field| %>
                <tr>
                  <td title="<%= field.description %>"><%= field.name %></td>
                  <% students.each do |student| %>
                    <% submitted_data = FormDetail.find_by(
                        user: current_user,
                        student_id: student.id,
                        form_id: form.id,
                        parent_type: record_type,
                        parent_id: record.id,
                        account: current_account
                      )
                    %>
                    <td><%= generate_html_for(field, student, submit_resource, submitted_data) %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end align-items-center bg-light">
      <% if form.lessonable? %>
        <button class="btn btn-info px-4" type="button" aria-label="Close" id="studentFormSave">Save</button>
      <% end %>
      <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
      <button class="btn btn-default px-4" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
  <% end %>
</div>

<script>
  $('#studentFormSave').click((event)=>{
    var formData = {};
    $.each($('#studentsForm').serializeArray(), function(i, field) {
      formData[field.name] = field.value;
    });

    const resource = (formData.record_type ==  'Meeting')? 'meetings' : 'interviews'
    if (formData.record_id){
      $.ajax({
        url: `/${resource}/${formData.record_id}/form`,
        method: "PUT",
        data: formData,
        dataType: 'script'
      });
    }
  })
</script>
