<div class="modal-content border-0">
  <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1">
    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal"
      aria-label="Close"></button>
  </div>
  <div class="modal-body p-0">
    <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
      <h4 class="mb-1" id="klass_id" name="<%= klass.id %>"><%= klass.name %></h4>
      <% if klass.teacher.present? %>
        <p class="fs--2 mb-0">Teaching by
          <%= link_to klass.teacher&.name, staff_path(klass.teacher), class: "link-600 fw-semi-bold" %>
        </p>
      <% end %>
    </div>
    <div class="p-4">
      <div class="row">
        <div class="col-lg-6" id="klass_students">
          <%= render 'shared/modals/klasses/students', klass: klass %>
        </div>
        <div class="col-lg-6" id="klass_settings">
          <%= render 'shared/modals/klasses/form', klass: klass %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end align-items-center bg-light">
    <button class="btn btn-default px-4" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
  </div>
</div>

<script>
  window.draggableInit({})
</script>
