<div class="modal-content border-0">
  <div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1">
    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal"
      aria-label="Close"></button>
  </div>
  <div class="modal-body p-0">
    <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
      <h4 class="mb-1" id="klass_id" name="<%= klass.id %>"><%= klass.name %></h4>
      <% if klass.teacher.present? %>
        <p class="fs--2 mb-0">Teaching by
          <%= link_to klass.teacher&.name, staff_path(klass.teacher), class: "link-600 fw-semi-bold" %>
        </p>
      <% end %>
    </div>
    <div class="p-4">
      <div class="row">
        <div class="col-lg-6" id="klass_students">
          <%= render 'shared/modals/klasses/students', klass: klass %>
        </div>
        <div class="col-lg-6">
          <h6 class="mt-5 mt-lg-0">Class Settings</h6>

          <%= form_for StudentClass.new, remote: true do |f| %>
            <%= f.hidden_field :klass_id, value: klass.id %>

            <div class="mb-3">
              <%= f.label :add_student, class: 'fs-0' %>
              <%= f.collection_select :student_id, current_account.students.eligible_for_klass(klass.id), :id, :name, { include_blank: true }, { class: 'form-select js-choice', data:{ options: { searchEnabled: true }} } %>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <%= f.submit 'Add', class: 'btn btn-primary px-4' %>
            </div>
          <% end %>

          <%= form_for klass, remote: true do |f| %>
            <div class="mb-3">
              <%= f.label :teacher_id, class: 'fs-0' %>
              <%= f.collection_select :teacher_id, current_account.teachers, :id, :name, { include_blank: true }, { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.label :room_id, class: 'fs-0' %>
              <%= f.collection_select :room_id, current_account.rooms, :id, :name, { include_blank: true }, { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.label :attendance_form_id, class: 'fs-0' %>
              <%= f.collection_select :attendance_form_id, current_account.forms.attendancable, :id, :name, { include_blank: true }, { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.label :forms, class:' fs-0' %>
              <%= f.collection_select :form_ids, current_account.forms.lessonable, :id, :name, {include_blank: true, include_hidden: false }, { class: 'form-select js-choice', multiple: "multiple-select-example" }%>
            </div>

            <div class="d-flex justify-content-end align-items-center">
              <%= f.submit 'Update', class: 'btn btn-primary px-4' %>
            </div>
          <% end %>

          <%= form_tag(extend_sessions_klass_path(klass), remote: true) do |f| %>
            <div class="mb-3">
              <label class="fs-0">Extend Seesions:</label>
              <%= text_field_tag :session_count, nil ,class: 'form-control' %>
            </div>

            <div class="d-flex justify-content-end align-items-center">
              <%= submit_tag 'Extend', class: 'btn btn-primary px-4' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end align-items-center bg-light">
    <button class="btn btn-default px-4" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
  </div>
</div>

<script>
  const drag_start = ()=>{}
  const drag_stop = ({ data })=>{
    setTimeout(()=>{
      const { source: el } = data
      const klass_id = $('#klass_id').attr('name')
      const student_class_id = data.source.id
      const klass_form_id = data.originalSource.parentNode.id
      const sourceContainerId = data.sourceContainer.id
      
      if (klass_form_id == sourceContainerId) return

      const student_form = { klass_form_id }
      const student_forms_attributes = []

      if(klass_form_id == 'unassigned'){
        student_forms_attributes.push({
          id: student_class_id,
          _destroy: true
        })
      } else {
        if (sourceContainerId == 'unassigned'){
          student_forms_attributes.push({
            klass_form_id, student_class_id
          })
        } else {
          student_forms_attributes.push({
            id: student_class_id,
            _destroy: true
          })
          student_forms_attributes.push({
            klass_form_id,
            student_class_id: data.originalSource.attributes['data-scid'].nodeValue
          })
        }
      }

      if(klass_id && student_class_id){
        $.ajax({
          url: `/klasses/${klass_id}`,
          method: 'PUT',
          dataType: 'script',
          data: { klass: { student_forms_attributes }}
        });
      }
    }, 0)
  }
  draggableInit({drag_start, drag_stop})
</script>
