<div class="position-absolute top-0 end-0 mt-3 me-3 z-index-1">
  <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<%= form_for(klass, id: 'addKlassForm', remote: true) do |f| %>
  <div class="modal-body p-0">
    <div class="bg-light rounded-top-lg py-3 ps-4 pe-6">
      <h4 class="mb-1" id="staticBackdropLabel">Add new Class Schedule</h4>
      <p class="fs--2 mb-0">Added by <a class="link-600 fw-semi-bold" href="#!">Saad Mahmood</a></p>
    </div>
    <div class="p-4">
      <div class="row">
        <div class="col-lg-7">
          <div class="mb-3">
            <%= f.label :start_date, class: 'fs-0' %>
            <%= f.text_field :starts_at, class: 'form-control datetimepicker', placeholder: "hh:mm /dd/mm/yyyy" %>
          </div>
          <div class="mb-3">
            <%= f.label :duration, class: 'fs-0' %>
            <%= f.select :duration, options_for_select([['1 hour', 60], ['1.5 hour', 90], ['2 hour', 120]], klass.duration), { prompt: true }, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :class_template, class: 'fs-0' %>
            <%= f.collection_select :klass_template_id, KlassTemplate.all, :id, :name, { include_blank: true }, { class: 'form-control' } %>
          </div>
          <div class="mb-3">
            <%= f.label :session_count, class: 'fs-0' %>
            <%= f.number_field :session_range, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :max_students, class: 'fs-0' %>
            <%= f.range_field :max_students, class: 'form-range', :in => 0..100, :step => 1 %>
          </div>
          <div class="mb-3">
            <% [:monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday].each do |day| %>
              <div class="form-check form-check-inline">
                <%= f.label day, class: 'fs-0 orm-check-label' %>
                <%= f.check_box day, class: 'form-check-input' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="mb-3">
            <%= f.label :available_teacher, class: 'fs-0' %>
            <%= f.collection_select :teacher_id, [], :id, :name, {}, { class: 'form-control' } %>
          </div>
          <div class="mb-3">
            <%= f.label :available_room, class: 'fs-0' %>
            <%= f.collection_select :room_id, [], :id, :name, {}, { class: 'form-control' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end align-items-center bg-light">
    <%= f.submit 'Save', class: 'btn btn-primary px-4' %>
    <%= f.button 'Cancel', class: 'btn btn-default px-4', type: 'button', data: { 'bs-dismiss': 'modal'} %>
  </div>
<% end %>

<script>
  $('#klass_starts_at').on('change', (e) => {
    $.ajax({
      url: "/klasses/availability", 
      data: { start_date: e.target.value }
    });
  })

  $('select#klass_klass_template_id').on('change', (e) => {
    $.ajax({
      url: `/klass_templates/${e.target.value}/assign`,
    });
  })
</script>