<div id="<%= dom_id content_library %>">
  <p>
    <strong>Public:</strong>
    <%= content_library.public %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= content_library.title %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= content_library.deleted_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= content_library.active %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= content_library.account_id %>
  </p>

</div>
