<div id="<%= dom_id receipt_type %>">
  <p>
    <strong>Name:</strong>
    <%= receipt_type.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= receipt_type.active %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= receipt_type.deleted_at %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= receipt_type.account_id %>
  </p>

</div>
