<div id="<%= dom_id rclass %>">
  <p>
    <strong>Max students:</strong>
    <%= rclass.max_students %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= rclass.active %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= rclass.start %>
  </p>

  <p>
    <strong>Monday:</strong>
    <%= rclass.monday %>
  </p>

  <p>
    <strong>Tuesday:</strong>
    <%= rclass.tuesday %>
  </p>

  <p>
    <strong>Wednesday:</strong>
    <%= rclass.wednesday %>
  </p>

  <p>
    <strong>Thursday:</strong>
    <%= rclass.thursday %>
  </p>

  <p>
    <strong>Friday:</strong>
    <%= rclass.friday %>
  </p>

  <p>
    <strong>Saturday:</strong>
    <%= rclass.saturday %>
  </p>

  <p>
    <strong>Sunday:</strong>
    <%= rclass.sunday %>
  </p>

  <p>
    <strong>Session range:</strong>
    <%= rclass.session_range %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= rclass.duration %>
  </p>

  <p>
    <strong>Est end date:</strong>
    <%= rclass.est_end_date %>
  </p>

  <p>
    <strong>Min students:</strong>
    <%= rclass.min_students %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= rclass.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rclass.description %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= rclass.deleted_at %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= rclass.account_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rclass.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= rclass.room_id %>
  </p>

</div>
