<p style="color: green"><%= notice %></p>

<%= render @rclass %>

<div>
  <%= link_to "Edit this rclass", edit_rclass_path(@rclass) %> |
  <%= link_to "Back to rclasses", rclasses_path %>

  <%= button_to "Destroy this rclass", @rclass, method: :delete %>
</div>
