<p style="color: green"><%= notice %></p>

<%= render @student_form %>

<div>
  <%= link_to "Edit this student form", edit_student_form_path(@student_form) %> |
  <%= link_to "Back to student forms", student_forms_path %>

  <%= button_to "Destroy this student form", @student_form, method: :delete %>
</div>
