<%= form_with(model: parent) do |form| %>
  <% if parent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
        <% parent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :father_first, style: "display: block" %>
    <%= form.text_field :father_first %>
  </div>

  <div>
    <%= form.label :father_last, style: "display: block" %>
    <%= form.text_field :father_last %>
  </div>

  <div>
    <%= form.label :father_email, style: "display: block" %>
    <%= form.text_field :father_email %>
  </div>

  <div>
    <%= form.label :father_phone, style: "display: block" %>
    <%= form.text_field :father_phone %>
  </div>

  <div>
    <%= form.label :mother_first, style: "display: block" %>
    <%= form.text_field :mother_first %>
  </div>

  <div>
    <%= form.label :mother_last, style: "display: block" %>
    <%= form.text_field :mother_last %>
  </div>

  <div>
    <%= form.label :mother_email, style: "display: block" %>
    <%= form.text_field :mother_email %>
  </div>

  <div>
    <%= form.label :mother_phone, style: "display: block" %>
    <%= form.text_field :mother_phone %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :postal_code, style: "display: block" %>
    <%= form.text_field :postal_code %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :account_id, style: "display: block" %>
    <%= form.text_field :account_id %>
  </div>

  <div>
    <%= form.label :city_id, style: "display: block" %>
    <%= form.text_field :city_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
