<div id="<%= dom_id parent %>">
  <p>
    <strong>Father first:</strong>
    <%= parent.father_first %>
  </p>

  <p>
    <strong>Father last:</strong>
    <%= parent.father_last %>
  </p>

  <p>
    <strong>Father email:</strong>
    <%= parent.father_email %>
  </p>

  <p>
    <strong>Father phone:</strong>
    <%= parent.father_phone %>
  </p>

  <p>
    <strong>Mother first:</strong>
    <%= parent.mother_first %>
  </p>

  <p>
    <strong>Mother last:</strong>
    <%= parent.mother_last %>
  </p>

  <p>
    <strong>Mother email:</strong>
    <%= parent.mother_email %>
  </p>

  <p>
    <strong>Mother phone:</strong>
    <%= parent.mother_phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= parent.address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= parent.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= parent.postal_code %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= parent.active %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= parent.deleted_at %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= parent.account_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= parent.city_id %>
  </p>

</div>
