<div class="nested-fields position-relative rounded-1 border bg-white dark__bg-1100 p-3 my-2">
  <%= link_to_remove_association f, class: 'position-absolute end-0 top-0 mt-2 me-3 z-index-1' do %>
    <span class="fas fa-times-circle text-danger" data-fa-transform="shrink-1">
  <% end %>
  
  <div class="row gx-2">
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name" %>
    </div>
    <div class="mb-3">
      <%= f.label :value, class: "form-label" %>
      <%= f.text_field :usage, required: true, class: "form-control", placeholder: "Value" %>
    </div>
  </div>
</div>
