<div class="nested-fields">
  <div class="card mb-3">
    <div class="card-header">
      <div class="d-flex flex-between-center">
        <h5 class="mb-0">Field Details</h5>
        <%= link_to_remove_association f do %>
          <span class="fas fa-times-circle text-danger" data-fa-transform="shrink-1">
        <% end %>
      </div>
    </div>
    <div class="card-body bg-light">
      <div class="row gx-2">
        <div class="col-sm-6 mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, required: true, class: "form-control" %>
        </div>
        <div class="col-sm-6 mb-3">
          <%= f.label :sort_order, class: "form-label" %>
          <%= f.number_field :sort_order, required: true, class: "form-control" %>
        </div>
        <div class="col-sm-6 mb-3">
          <%= f.label :field_type, class: "form-label" %>
          <%= f.select :field_type, FormField.field_types.map { |key, value| [key.humanize, key] }, { include_blank: true }, { class: 'form-select form-field-type' } %>
        </div>
        <div class="col-sm-6 mb-3">
          <%= f.label :data_type, class: "form-label" %>
          <%= f.text_field :data_type, class: "form-control" %>
        </div>
        <div class="col-sm-6 mb-3 form-check custom-checkbox mb-0">
          <%= f.check_box :necessary, class: "form-check-input" %>
          <%= f.label :necessary, class: "form-label mb-0" %>
        </div>
        <div class="col-12">
          <%= f.label :description, class: "form-label" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="d-none">
          <%= link_to_add_association f, :field_values do %>
            <div class="d-grid gap-2">
              <button class="btn btn-falcon-default btn-sm mb-2" type="submit">
                <span class="fas fa-plus fs--2 me-1" data-fa-transform="up-1"></span>
                Add Value
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
