<div id="<%= dom_id form %>">
  <p>
    <strong>Lesson:</strong>
    <%= form.lesson %>
  </p>

  <p>
    <strong>Fields:</strong>
    <%= form.fields %>
  </p>

  <p>
    <strong>Assessment:</strong>
    <%= form.assessment %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= form.name %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= form.deleted_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= form.active %>
  </p>

  <p>
    <strong>Attendance:</strong>
    <%= form.attendance %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= form.account_id %>
  </p>

</div>
