<div id="<%= dom_id klass_template %>">
  <p>
    <strong>Max students:</strong>
    <%= klass_template.max_students %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= klass_template.active %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= klass_template.start %>
  </p>

  <p>
    <strong>Monday:</strong>
    <%= klass_template.monday %>
  </p>

  <p>
    <strong>Tuesday:</strong>
    <%= klass_template.tuesday %>
  </p>

  <p>
    <strong>Wednesday:</strong>
    <%= klass_template.wednesday %>
  </p>

  <p>
    <strong>Thursday:</strong>
    <%= klass_template.thursday %>
  </p>

  <p>
    <strong>Friday:</strong>
    <%= klass_template.friday %>
  </p>

  <p>
    <strong>Saturday:</strong>
    <%= klass_template.saturday %>
  </p>

  <p>
    <strong>Sunday:</strong>
    <%= klass_template.sunday %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= klass_template.settings %>
  </p>

  <p>
    <strong>Session range:</strong>
    <%= klass_template.session_range %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= klass_template.duration %>
  </p>

  <p>
    <strong>Min students:</strong>
    <%= klass_template.min_students %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= klass_template.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= klass_template.description %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= klass_template.deleted_at %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= klass_template.account_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= klass_template.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= klass_template.room_id %>
  </p>

</div>
