<div id="<%= dom_id vacation_type %>">
  <p>
    <strong>Name:</strong>
    <%= vacation_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vacation_type.description %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= vacation_type.deleted_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= vacation_type.active %>
  </p>

  <p>
    <strong>Boolean:</strong>
    <%= vacation_type.boolean %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= vacation_type.account_id %>
  </p>

  <p>
    <strong>References:</strong>
    <%= vacation_type.references %>
  </p>

</div>
