<div id="<%= dom_id form_detail %>">
  <p>
    <strong>Form values:</strong>
    <%= form_detail.form_values %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= form_detail.active %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= form_detail.deleted_at %>
  </p>

  <p>
    <strong>Parent types:</strong>
    <%= form_detail.parent_types %>
  </p>

  <p>
    <strong>User:</strong>
    <%= form_detail.user_id %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= form_detail.form_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= form_detail.account_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= form_detail.parent_id %>
  </p>

</div>
