<div id="<%= dom_id receipt %>">
  <p>
    <strong>Amount:</strong>
    <%= receipt.amount %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= receipt.deleted_at %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= receipt.datetime %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= receipt.active %>
  </p>

  <p>
    <strong>Leave count:</strong>
    <%= receipt.leave_count %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= receipt.detail %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= receipt.discount %>
  </p>

  <p>
    <strong>Discount reason:</strong>
    <%= receipt.discount_reason %>
  </p>

  <p>
    <strong>Sessions count:</strong>
    <%= receipt.sessions_count %>
  </p>

  <p>
    <strong>Acoount:</strong>
    <%= receipt.acoount_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= receipt.user_id %>
  </p>

  <p>
    <strong>Receipt type:</strong>
    <%= receipt.receipt_type_id %>
  </p>

</div>
