<div id="<%= dom_id meetingstudent %>">
  <p>
    <strong>Attended:</strong>
    <%= meetingstudent.attended %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= meetingstudent.deleted_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= meetingstudent.active %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= meetingstudent.account_id %>
  </p>

  <p>
    <strong>Meeting:</strong>
    <%= meetingstudent.meeting_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= meetingstudent.user_id %>
  </p>

</div>
