<div id="<%= dom_id student_class %>">
  <p>
    <strong>Start:</strong>
    <%= student_class.start %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= student_class.deleted_at %>
  </p>

  <p>
    <strong>Avtive:</strong>
    <%= student_class.avtive %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= student_class.account_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= student_class.student_id %>
  </p>

  <p>
    <strong>Klass:</strong>
    <%= student_class.klass_id %>
  </p>

</div>
