<p style="color: green"><%= notice %></p>

<%= render @student_metting %>

<div>
  <%= link_to "Edit this student metting", edit_student_metting_path(@student_metting) %> |
  <%= link_to "Back to student mettings", student_mettings_path %>

  <%= button_to "Destroy this student metting", @student_metting, method: :delete %>
</div>
