<p style="color: green"><%= notice %></p>

<%= render @student_meeting %>

<div>
  <%= link_to "Edit this student  meeting", edit_student_meeting_path(@student_meeting) %> |
  <%= link_to "Back to student  meetings", student_meetings_path %>

  <%= button_to "Destroy this student  meeting", @student_meeting, method: :delete %>
</div>
