<div class="card mb-3"
  data-list='{"valueNames":["name","strating date","ending date","vacation type","action"],"page":15}'>
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Daily Reports</h5>
      </div>
      <div class="col-8 col-sm-auto text-end ps-2">
        <div id="table-parents-replace-element">
              <%= link_to(export_klasses_path(format: :csv), class: 'btn btn-falcon-default btn-sm') do %>
              <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
              <span class="d-none d-sm-inline-block ms-1">Export</span>
              <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-0" id="parentsTable">
    <div class="tab-content">
      <div class="tab-pane active" id="klasses" role="tabpanel" aria-labelledby="klasses-tab">
        <%= form_tag(klasses_path, id: 'showKlassesForm', method: :get, remote: true) do %>
        <div class="p-2 mb-3">
          <div class="row">
            <div class="col-lg-8">
              <%= date_field_tag :classes_at, nil, class: 'form-control datetimepicker', placeholder: "hh:mm /dd/mm/yyyy" %>
            </div>
            <div class="col-lg-4">
              <%= submit_tag "Search", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <% end %>
        <div id="communication-classes"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript_includes do %>
<%= javascript_include_tag "controllers/#{params[:controller]}/#{params[:action]}", defer: true %>
<% end %>
