<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Readinglab</title>
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <%= favicon_link_tag("favicons/apple-touch-icon.png", rel: 'apple-touch-icon') %>
		<%= favicon_link_tag("favicons/favicon-32x32.png", rel: 'icon', type: 'image/png') %>
		<%= favicon_link_tag("favicons/favicon-16x16.png", rel: 'icon', type: 'image/png') %>
		<%= favicon_link_tag("favicons/favicon.ico", rel: 'shortcut icon', type: 'image/x-icon') %>
		<%= favicon_link_tag("favicons/manifest.json", rel: 'manifest') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <%= render 'shared/sidebar' %>
        <div class="content">
          <%= render 'shared/header' %>
          <div id = "flash_messages">
            <%= render 'shared/flash' %>
          </div>
          <%= render 'shared/spinner' %>
          <%= yield %>
          <%= render 'shared/footer' %>
        </div>

        <%= yield :modal_includes %>
      </div>
    </main>

    <%= render 'shared/sidebar_settings' %>
    
    <%#= javascript_include_tag "theme_conf", type: "module" %>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "list.js/list.min" %>
    <%= javascript_include_tag "choices/choices.min" %>
    <%= javascript_include_tag "fullcalendar/main" %>

    <%= yield :javascript_includes %>
  </body>
</html>
