<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= account.currency %>
  </p>

 

  <p>
    <strong>Settings:</strong>
    <%= account.settings %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= account.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= account.address %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= account.mobile %>
  </p>



  <p>
    <strong>Timezone:</strong>
    <%= account.timezone %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= account.province %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= account.postal_code %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= account.country_code %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= account.parent_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= account.deleted_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= account.active %>
  </p>

  <p>
    <strong>Notify emails:</strong>
    <%= account.notify_emails %>
  </p>

  <p>
    <strong>Billing scheme:</strong>
    <%= account.billing_scheme %>
  </p>

  <p>
    <strong>Account types:</strong>
    <%= account.account_types_id %>
  </p>

</div>
