<div id="<%= dom_id klass %>">
  <p>
    <strong>Max students:</strong>
    <%= klass.max_students %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= klass.active %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= klass.start %>
  </p>

  <p>
    <strong>Monday:</strong>
    <%= klass.monday %>
  </p>

  <p>
    <strong>Tuesday:</strong>
    <%= klass.tuesday %>
  </p>

  <p>
    <strong>Wednesday:</strong>
    <%= klass.wednesday %>
  </p>

  <p>
    <strong>Thursday:</strong>
    <%= klass.thursday %>
  </p>

  <p>
    <strong>Friday:</strong>
    <%= klass.friday %>
  </p>

  <p>
    <strong>Saturday:</strong>
    <%= klass.saturday %>
  </p>

  <p>
    <strong>Sunday:</strong>
    <%= klass.sunday %>
  </p>

  <p>
    <strong>Session range:</strong>
    <%= klass.session_range %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= klass.duration %>
  </p>

  <p>
    <strong>Est end date:</strong>
    <%= klass.est_end_date %>
  </p>

  <p>
    <strong>Min students:</strong>
    <%= klass.min_students %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= klass.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= klass.description %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= klass.deleted_at %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= klass.account_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= klass.teacher_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= klass.room_id %>
  </p>

</div>
